# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
lst_numbers = [2, 25, 10, 48, 10, 120, 11]

In [ ]:
# Your code here:
def count_list(lst):
    # This function returns the count of a list of numbers
    
    return len(lst)

print(count_list(lst_numbers))
print(np.size(lst_numbers))

Create a function that returns the mean of a list of numbers

In [ ]:
# Your code here:
# Your code here:
def mean_list(lst):
    # This function returns the mean of a list of numbers
    
    n = count_list(lst)
    return sum(lst) / n

print(mean_list(lst_numbers))
print(np.mean(lst_numbers))

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [5]:
# Your code here:
def std_dev_list(lst):
    # This function return the standard deviation of a list of numbers
    n = count_list(lst)
    mean = mean_list(lst)
    total = 0
    
    for i in lst:
        total += (i - mean) ** 2
  
    return (total / n) ** 0.5

print(std_dev_list(lst_numbers))
print(np.std(lst_numbers, axis=0))

38.465993462553705
38.465993462553705

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [6]:
# Your code here:
def count_mean_stdev(lst: list) -> str:
    """
    This function returns count, mean and standard deviation of a list.
    
    Keyword arguments:
    -- list of numbers
    
    Input: list
    Output: string
    
    # Sample Input: [1, 5, 4]
    # Sample Output: 'Count: 3, Mean: 3.33, Std Dev: 1.7' 
    
    """
    
    n = len(lst)
    mean_lst = round(sum(lst) / n, 2)
    total = 0
    for i in lst:
        total += (i - mean_lst) ** 2
    std_dev = round((total / n) ** 0.5, 2)
    
    return f"Count: {n}, Mean: {mean_lst}, Std Dev: {std_dev}"

count_mean_stdev([1, 5, 4, 10])

'Count: 4, Mean: 5.0, Std Dev: 3.24'

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [7]:
# Your code here:
def lower_string(s):
    s = ''.join(sorted(x.upper() for x in s if x.isalnum()))
    return s

lower_string('eDuarDo!')

'ADDEORU'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [8]:
# Your code here:
def categorical_age(age):
    if age <= 15:
        return 'Very young'
    elif age <= 25:
        return 'Young'
    elif age <= 40:
        return 'Adult'
    elif age <= 50:
        return 'Old'
    else:
        return 'Old'
        
categorical_age(33)

'Adult'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [24]:
# Your code here:
def ask_age():
    age = int(input('Your age: '))
    if age not in range(1, 150):
        print('Put a valid age')
        age = ask_age()
    return age

print(f'Your are {categorical_age(ask_age())}')

Your age: 150
Put a valid age
Your age: 5
Your are Very young

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [10]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def alpha_order(s):
    s = ' '.join(sorted(s.split(', ')))
    return s
    
alpha_order(buzz)

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [11]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [12]:
def alpha_order_no_return(s):
    global buzz
    buzz = ' '.join(sorted(s.split(', ')))
    
alpha_order_no_return(buzz)
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [13]:
import pandas as pd

In [14]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [15]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [16]:
# return the mean value of numeric columns
iris_numeric.mean()

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [17]:
# return the standard deviation function
iris_numeric.std()

sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [18]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x * 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [19]:
# Your code here:
# convert iris_numeric to inches
iris_inch = pd.DataFrame()
iris_inch = iris_numeric.apply(lambda x: cm_to_in(x), axis=0)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [20]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error

iris_constant = pd.DataFrame()
iris_constant = iris_numeric.apply(lambda x: add_constant(x), axis=0)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [21]:
# Your code here:
def max_value(x):
    # This function computes the maximum value for each row of a dataframe
    return x.max()

print(iris_numeric.apply(lambda x: max_value(x), axis=1))

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [22]:
# Your code here:
def combined_column(df):
    # This function combines lenghts and widhts for each row assigning the result to new columns
    
    df['total_lenght'] = df['sepal_length'] + df['petal_length']
    df['total_width'] = df['sepal_width'] + df['petal_width']
    
combined_column(iris_numeric)
iris_numeric.head()

,sepal_length,sepal_width,petal_length,petal_width,total_lenght,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8